/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
main, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */

article, aside, details, figcaption, figure,
footer, header, hgroup, main, menu, nav, section {
	display: block;
}

body {
	line-height: 1;
}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

:root {
	--body-bg        : #DF2900;
	--body-text      : #101010;
	--footer-text    : #FBF7F6;
	--header-bg      : #FBF7F6;
	--accent-color   : #E12900;
	--accent-dark    : #972309;
	--color-white    : #FFFFFF;
	--color-gray     : #999999;
	--heading-2-color: #DA270A;
	--brown-bg       : #37171B;
	--blue-bg        : #52C4C4;
	
	--body-font: "anonymous-pro", serif;
	--heading-2: "obliqua",sans-serif;
	--item-text: "ff-market-web", cursive;
}

html, body {
	margin: 0;
	padding: 0;
	height: 100%;
}

body {
	background: rgba(52, 44, 41, 1.0) url(http://tokyo-grid.s3.amazonaws.com/debut-dark.png);
	position: relative;
	color: var(--body-text);
	font-family: var(--body-font);
	line-height: 1.5;
	position: relative;
}

header {
	background: var(--header-bg);
	padding: 12px 120px 24px 120px;
	color: var(--accent-color);
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: end;
	    -ms-flex-pack: end;
	        justify-content: flex-end;
	-webkit-box-align: end;
	    -ms-flex-align: end;
	        align-items: flex-end;
	-ms-flex-flow: column nowrap;
	    flex-flow: column nowrap
}

header a {
	color: var(--body-text);
}

header p.contact-info {
	padding: 0;
}

footer {
	padding: 40px 0;
	border-top: 12px solid var(--blue-bg)
}

footer .footer-items {
	margin: 0 auto;
	width: 960px;
	color: #FFB531;
	text-align: center;/*lost-center: 960px;*/
}

footer .footer-items a {
	color: #FFB531;
	text-decoration: underline;
}

.container {
	background-color: var(--body-text);
	background: url(http://tokyo-grid.s3.amazonaws.com/newspaper.png) 100% 100% fixed;
	border-bottom: 1px solid var(--color-gray);
	height: 90vh;
}

.items {
	margin: 0 auto;
	padding: 48px 0;
	/*height: 100%;*/

	display: flex;

	flex-flow: row wrap;

	max-width: 960px;

	margin-left: auto;

	margin-right: auto

}

.items .item {
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
	flex-grow: 0;
	flex-shrink: 0;
	flex-basis: calc(99.9% * 1/3 - (30px - 30px * 1/3));
	width: calc(99.9% * 1/3 - (30px - 30px * 1/3));
	height: calc(99.9% * 1/3 - (30px - 30px * 1/3));
}

.items .item:nth-child(1n) {
	margin-right: 30px;
	margin-bottom: 30px;
	margin-left: 0;
}

.items .item:last-child {
	margin-right: 0;
	margin-bottom: 0;
}

.items .item:nth-child(3n) {
	margin-right: 0;
	margin-left: auto;
}

.items .item:nth-last-child(-n + 3) {
	margin-bottom: 0;
}

.item-content {
	background-color: var(--color-white);
	background: url(http://tokyo-grid.s3.amazonaws.com/halftone.png) no-re;
	padding: 12px;
	height: 300px
}

.item-content .item-photo {
	background-color: var(--color-gray);
	background-size: 100%;
	background-position: center center;
	border-top: 1px solid  var(--color-gray);
	border-right: 1px solid var(--color-white);
	border-bottom: 1px solid var(--color-white);
	border-left: 1px solid var(--color-gray);
	height: 77%;
}

.item-content .item-name h2 {
	padding: 50px 0 24px;
	color: var(--heading-2-color);
	font-family: var(--heading-2);
	font-weight: bold;
	font-size: 24px;
	text-transform: capitalize;
	text-align: center;
}

.item-content .item-intro {}

.item-content .item-intro p {
	margin-bottom: 9px;
}

.item-content .item-intro a {
	color: var(--body-text);
}

.item-content .item-text {
	padding-top: 12px;
	color: var(--body-text);
	font-family: var(--item-text);
	font-size: 24px;
	text-align: center;
}

.item:nth-child(5) {
	box-shadow: none
}

.item:nth-child(5) .item-content {
	background: transparent url(http://tokyo-grid.s3.amazonaws.com/rooster.png) center 15px no-repeat;
}

.ticket {
	background: url(http://tokyo-grid.s3.amazonaws.com/seamless.png);
	color: var(--color-white);
	position: absolute;
	left: 58px;
	top: 40px;
	box-shadow: 1px 1px 6px 2px rgba(0, 0, 0, 0.3);
	word-wrap: nowrap;
	-webkit-transform: rotate(90deg);
	        transform: rotate(90deg);
	-webkit-transform-origin: top left;
	        transform-origin: top left;

	display: -webkit-box;

	display: -ms-flexbox;

	display: flex;
	-webkit-box-pack: start;
	    -ms-flex-pack: start;
	        justify-content: flex-start;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center
}

.ticket .ticket-logo {
	background: cornsilk url(http://tokyo-grid.s3.amazonaws.com/rooster.png) no-repeat center center;
	padding: 6px;
	border: 1px solid var(--accent-dark);
	width: 40px;
	height: 40px;
	-webkit-transform: rotate(-90deg);
	transform: rotate(-90deg);
}

.ticket .ticket-text {
	padding: 6px 12px;
	border: 1px solid var(--accent-dark);
	border-left: 0;
	height: 40px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}

.ticket .ticket-text span {
	padding-right: 12px;
	font-weight: bold;
}

.the-ring {
	background-image: url(http://tokyo-grid.s3.amazonaws.com/the-ring.png);
}

.stylemepretty {
	background-image: url(http://tokyo-grid.s3.amazonaws.com/stylemepretty.png);
}

.fiftythree {
	background-image: url(http://tokyo-grid.s3.amazonaws.com/fiftythree.png);
}

.mineraltree {
	background-image: url(http://tokyo-grid.s3.amazonaws.com/mineraltree.png);	
}

.unencoded {
	background-image: url(http://tokyo-grid.s3.amazonaws.com/unencoded.png);
}

.magma-website {
	background-image: url(http://tokyo-grid.s3.amazonaws.com/magma-website.png);
}

.fourltr {
	background-image: url(http://tokyo-grid.s3.amazonaws.com/fourltr.png);
}

.instagram {
	background-image: url(http://tokyo-grid.s3.amazonaws.com/instagram.png);
}

.mindtap {
	background-image: url(http://tokyo-grid.s3.amazonaws.com/mindtap.png);
}

.cengage-brain {
	background-image: url(http://tokyo-grid.s3.amazonaws.com/cengage-brain.png);
}

.css {
	background-image: url(http://tokyo-grid.s3.amazonaws.com/css.png);
}

